body, html {
    cursor: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(136, 194, 248);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 10000;
    transition: transform 0.2s ease;
    box-shadow: 0 0 20px 10px rgb(255, 255, 255);
}

/* .cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
} */

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}