*{
  background-image: url('../../public/starry-night.jpeg');
  background-size: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.audiowide-font {
  font-family: 'Audiowide', cursive !important;
}